@use 'variables'
@use 'fonts'

*
	box-sizing: border-box

	margin: 0
	padding: 0

html
	font-size: 14px
	font-family: "Montserrat"

a
	display: block
	width: 100%
	height: 100%

	text-decoration: none
	color: #fff
	
	cursor: pointer
	
ol, ul
	list-style-type: none

button
	border: none

img
	width: 100%
	heigth: 100%

.main 
	width: 100%
	height: 100%

.body_hidden
	overflow: hidden

.container
	max-width: 1144px
	margin: 0 auto

	background-color: rgba(0, 0, 0, 0.2)



// ******************************************************			header+nav							******************************************************



.header
	height: 104px
	width: 100%

	position: fixed
	top: 0
	left: 0
	z-index: 10

	transition: background-color 400ms
	
	&__container
		height: 100%

		display: flex
		align-items: center
		justify-content: flex-start

	&__logo
		max-width: 100px

	&__nav
		margin-left: 134px

	&_scrolled, &_touched
		background-color: variables.$bg-light

.list
	display: flex
	align-items: center
	justify-content: space-between

	font-family: "Montserrat"
	font-size: 1rem
	font-weight: 600

	line-height: 24px
	letter-spacing: 0.2px
	text-align: center

	color: variables.$side-txt

	&__item
		margin-left: 21px

		&:first-child
			margin-left: 0px

	&__link:hover
		text-decoration: underline
		text-decoration-color: variables.$side-txt

.menu-burger
	display: none
	position: relative
	
	width: 30px
	height: 30px

	&__center
		width: 100%
		height: 4px
		background-color: variables.$side-2

		transition-duration: 400ms

	&::before, &::after
		content: ''
		position: absolute
		width: 100%
		height: 4px
		background-color: variables.$side-2

		transition-duration: 200ms

	&::before
		top: 0
		left: 0

	&::after
		bottom: 0
		left: 0

@media screen and ( max-width: 520px )
	.header
		height: 60px
		
		&__container
			justify-content: space-between

		&__logo
			margin-left: 10px

	.nav
		margin-left: 0
		visibility: hidden
		pointer-events: none

		position: fixed
		top: 60px
		left: -100%

		transition: left 400ms, visibility 400ms

		width: 100%
		height: 100%
		background-color: rgba(37, 43, 66, 0.95)

		&_active
			visibility: visible
			pointer-events: all
			left: 0

	.menu-burger
		display: flex
		align-items: center
		justify-content: center

		margin-right: 10px
		z-index: 10

	.menu-burger_active
		transform: translateY(-10%)

		.menu-burger__center
			transform: scale(0)

		&::before
			top: 50%
			transform: rotate(45deg)

		&::after
			top: 50%
			transform: rotate(-45deg)

	.list
		flex-direction: column
		line-height: 60px

		&__item
			height: 60px
			width: 100%
			margin-left: 0

			position: relative

			&::after
				content: ''

				position: absolute
				bottom: 0
				left: 20%

				width: 60%
				height: 1px
				background-color: variables.$main
				border-radius: 8px



// ******************************************************			banner									******************************************************



.banner
	padding-top: 104px
	width: 100%
	min-height: 794px

	background: url("../assets/image/background_banner.jpg") 50% 50% / cover no-repeat
	font-family: "Montserrat"

	&__title
		margin-top: 80px

	&__descr
		min-height: 60px
		width: 376px
		margin-top: 36px

		font-size: 1.42rem
		font-weight: 500

		line-height: 2.5rem
		letter-spacing: 0.2px
		text-align: left

		color: variables.$side-txt

	&__buttons
		min-height: 48px
		width: 352px
		margin-top: 45px

		display: flex
		align-items: center
		justify-content: space-between

	&__button_1
		min-height: 48px
		width: 185px

		background-color: variables.$main
		color: variables.$light-txt

		font-weight: 700
		font-size: 1rem
		line-height: 2rem
		
		text-align: center
		letter-spacing: 0.2px

		border: 1px solid variables.$main
		border-radius: 38px

		&:hover
			cursor: pointer

			color: variables.$main
			background-color: transparent

	&__button_2
		min-height: 48px
		width: 157px

		background-color: transparent
		color: variables.$side-1

		font-weight: 700
		font-size: 1rem
		line-height: 2rem

		text-align: center
		letter-spacing: 0.2px

		border: 1px solid variables.$side-1
		border-radius: 38px

		&:hover
			cursor: pointer

			color: variables.$light-txt
			background-color: variables.$side-1

	&__container
		padding-bottom: 191px

.title
	display: block
	min-height: 240px
	width: 510px

	font-family: "Montserrat"
	font-size: 4.5rem
	font-weight: 800

	line-height: 5.75rem
	letter-spacing: 0.2px
	text-align: left

	color: variables.$main-txt
	
@media screen and ( max-width: 520px )
	.banner
		&__title
			margin: 0 auto
			
		&__descr
			margin: 32px auto 0
			width: 300px

		&__buttons
			width: 352px
			margin: 60px auto 0
			justify-content: space-between

	.title
		width: 300px
		min-height: 140px

		font-size: 3rem
		line-height: 3rem

@media screen and ( max-width: 400px )
		.banner
			&__buttons
				width: 300px
				flex-direction: column
				row-gap: 20px


	
// ******************************************************			results									******************************************************



.results
	min-height: 526px
	width: 100%

	&__container
		position: relative
		padding-bottom: 50px

	&__services
		transform: translateY(-112px)

	&__subtitle
		transform: translateY(-30px)

	&__descr
		max-width: 512px
		margin: 10px auto 0
		transform: translateY(-30px)

	&__wrapper
		margin-top: 50px
		transform: translateY(-30px)

.services
	min-height: 242px
	width: 100%

	display: flex
	align-items: stretch
	justify-content: space-between
	gap: 8px
	
	&__item
		min-height: 242px
		max-width: 328px
		flex: 1 1 auto

		background-color: variables.$bg-light
		padding: 35px 40px

		&:last-child
			background-color: variables.$side-1

			.services__title, .services__descr
				color: variables.$light-txt

	&__icon
		width: 48px
		height: 48px

		display: flex
		align-items: center

	&__title
		margin-top: 10px
		min-height: 64px

		font-weight: 700
		font-size: 1.7rem
		line-height: 2.28rem
	
		letter-spacing: 0.1px
		color: variables.$main-txt

	&__descr
		margin-top: 10px
		min-height: 40px

		font-weight: 500
		font-size: 1rem
		line-height: 1.42rem
		letter-spacing: 0.2px

		color: variables.$side-txt

.subtitle
	font-family: "Montserrat"
	font-size: 2.85rem
	font-weight: 700

	line-height: 4rem
	letter-spacing: 0.2px
	text-align: center

	color: variables.$main-txt

.section-descr
	font-family: "Montserrat"
	font-size: 1rem
	font-weight: 500

	line-height: 1.42rem
	letter-spacing: 0.2px
	text-align: center

	color: variables.$side-txt

.wrapper
	min-height: 210px
	width: 100%

	display: flex
	align-items: stretch
	justify-content: space-between
	flex-wrap: wrap
	gap: 8px

	&__block
		min-height: 210px
		max-width: 230px

		display: flex
		flex-direction: column
		align-items: center
		justify-content: space-between

		padding: 30px

	&__pic
		max-height: 48px
		max-width: 48px

		min-height: 48px

		display: flex
		align-items: center
		justify-content: center
		

	&__count
		font-family: "Montserrat"
		font-size: 2.85rem
		font-weight: 700

		line-height: 4rem
		letter-spacing: 0.2px
		text-align: center

		color: variables.$main-txt

	&__descr
		min-width: 170px

		font-family: "Montserrat"
		font-size: 1.14rem
		font-weight: 700

		line-height: 1.7rem
		letter-spacing: 0.1px
		text-align: center

		color: variables.$side-txt

@media screen and ( max-width: 960px )
	.wrapper
		max-width: 700px
		margin: 50px auto 0
		gap: 20px
		justify-content: space-evenly

@media screen and ( max-width: 768px )
	.services
		width: 500px
		margin: 0 auto

		flex-wrap: wrap
		gap: 20px

		&__item
			max-width: 500px

@media screen and ( max-width: 520px )
	.services
		width: 320px
		margin: 0 auto

		flex-wrap: wrap
		gap: 20px

		&__item
			max-width: 320px



// ******************************************************			advice									******************************************************



.advice
	min-height: 575px
	width: 100%

	&__container
		margin-top: 125px

	&__descr
		max-width: 470px
		margin: 10px auto 0

	&__wrapper
		margin-top: 45px

.wrap
	min-height: 341px
	width: 100%

	display: flex
	align-items: stretch
	justify-content: space-between
	flex-wrap: wrap
	gap: 8px

	font-family: "Montserrat"

	&__block
		min-height: 341px
		max-width: 230px

		display: flex
		flex-direction: column
		justify-content: space-between

	&__about
		min-height: 174px
		width: 100%

	&__header
		max-width: 135px
		min-height: 48px

		margin-top: 30px
		margin-left: 30px

		font-size: 1.14rem
		font-weight: 700

		line-height: 1.7rem
		letter-spacing: 0.1px
		text-align: left

		color: variables.$main-txt

	&__descr
		max-width: 180px
		min-height: 80px

		margin-top: 15px
		margin-left: 30px

		font-size: 1rem
		font-weight: 500

		line-height: 1.7rem
		letter-spacing: 0.2px
		text-align: left

		color: variables.$side-txt

	&__pic
		max-height: 138px
		width: 100%

@media screen and ( max-width: 960px )
	.wrap
		max-width: 700px
		margin: 50px auto 0
		gap: 40px
		justify-content: space-evenly



// ******************************************************			about									******************************************************



.about
	min-height: 769px
	width: 100%	
	

	&__container
		margin-top: 100px
		padding-bottom: 100px

	&__descr
		max-width: 511px
		margin: 15px auto 0

	&__wrapper
		margin-top: 100px

.wrapper__video
	min-height: 442px
	width: 597px

	background-color: variables.$main

.content
	min-height: 438px		
	max-width: 333px

	&__header
		min-height: 114px
		margin-top: 20px

		font-size: 2.85rem
		font-weight: 700
		line-height: 4rem

		letter-spacing: 0.2px
		text-align: left

		color: variables.$main-txt

	&__descr
		min-height: 60px
		margin-top: 10px

		font-size: 1rem
		font-weight: 500
		line-height: 1.42rem

		letter-spacing: 0.2px
		text-align: left

		color: variables.$side-txt

	&__group
		margin-top: 50px

.group
	width: 100%
	min-height: 77px
	margin-top: 50px

	display: flex
	align-items: flex-start
	justify-content: space-between

	&__wrapper
		min-height: 48px
		max-width: 277px

	&__pic
		max-width: 30px
		max-height: 30px

	&__header
		font-size: 1.14rem
		font-weight: 700
		line-height: 1.7rem

		letter-spacing: 0.1px
		text-align: left

		color: variables.$main-txt

	&__descr
		font-size: 1rem
		font-weight: 600
		line-height: 1.7rem

		letter-spacing: 0.2px
		text-align: left

		color: variables.$side-txt



// ******************************************************			companies								******************************************************



.companies
	min-height: 262px
	width: 100%

	&__container
		padding-bottom: 87px

	&__wrapper
		display: flex
		align-items: stretch
		justify-content: space-between

		gap: 30px
		min-height: 175px
		padding: 0 25px

	&__block
		display: flex
		align-items: center
		justify-content: center

@media screen and ( max-width: 768px )
	.companies

		&__container
			padding-bottom: 174px

		&__wrapper
			max-width: 520px
			margin: 0 auto

			flex-wrap: wrap
	


// ******************************************************			subscribe								******************************************************



.subscribe
	height: 77px
	width: 100%

	background-color: variables.$bg-dark

	&__container
		height: 77px
		position: relative

	&__wrapper
		width: 100%
		min-height: 124px

		position: absolute
		top: -67px
		left: 0

	&__module
		min-height: 124px
		width: calc(86%)

		margin: 0 auto
		padding: 30px 50px

		background-color: variables.$bg-dark
		border-radius: 2px

		display: flex
		align-items: center
		justify-content: space-between
		gap: 16px

	&__title
		max-width: 266px
		flex-grow: 1

		font-size: 1.7rem
		font-weight: 700
		line-height: 2.28rem
		letter-spacing: 0.1px
		text-align: left
		color: variables.$light-txt

	&__form
		max-width: 450px
		flex-grow: 2
		display: flex

	&__email
		max-width: 333px
		height: 58px
		flex-grow: 3

		padding-left: 20px
		font-size: 1rem
		font-weight: 400
		line-height: 2rem
		letter-spacing: 0.2px

	&__button
		max-width: 117px
		height: 58px
		flex-grow: 1

		font-size: 1rem
		font-weight: 400
		line-height: 2rem
		letter-spacing: 0.2px
		text-align: center

		color: variables.$light-txt
		background-color: variables.$main

		&:hover
			cursor: pointer

@media screen and ( max-width: 768px )
	.subscribe
		&__module
			flex-wrap: wrap
			gap: 20px

@media screen and ( max-width: 420px )
	.subscribe
		margin-bottom: 180px

		&__form
			flex-direction: column
			align-items: center
			gap: 10px
		
		&__module
			width: 100%

		&__button
			width: 100%



// ******************************************************			getIn										******************************************************



.getIn
	min-height: 808px
	width: 100%

	&__container
		margin-top: 80px
		padding-bottom: 148px

	&__descr
		max-width: 470px
		margin: 10px auto 0

	&__wrapper
		min-height: 393px
		max-width: 984px

		margin: 80px auto 0

		display: flex
		align-items: center
		justify-content: center

	&__block
		height: 393px
		max-width: 328px

		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		flex: 1 1 auto

		background-color: variables.$bg-dark

		&_small
			height: 333px
			background-color: variables.$bg-light
	
	&__pic
		max-height: 72px
		max-width: 72px

	&__mail
		margin-top: 15px
		max-width: 221px

		font-size: 1rem
		font-weight: 600
		line-height: 1.7rem
		letter-spacing: 0.2px
		text-align: center

		color: variables.$main-txt

		&_white
			color: variables.$light-txt


	&__getSup
		margin-top: 15px

		font-size: 1.14rem
		font-weight: 700
		line-height: 1.7rem
		letter-spacing: 0.1px
		text-align: center

		color: variables.$main-txt

		&_white
			color: variables.$light-txt


	&__button
		margin-top: 15px

		width: 160px
		height: 48px
		padding: 10px 20px
		
		border: 1px solid variables.$main
		border-radius: 8px

		color: variables.$main
		background-color: variables.$bg-light

		cursor: pointer

		&:hover
			color: variables.$light-txt
			background-color: variables.$main

		&_white
			border: 1px solid variables.$light-txt

			color: variables.$light-txt
			background-color: variables.$bg-dark

			&:hover
				color: variables.$main
				background-color: variables.$bg-light

@media screen and ( max-width: 768px )
	.getIn
		&__wrapper
			max-width: 500px
			flex-wrap: wrap
			gap: 20px

		&__block
			min-width: 320px



// ******************************************************			contactUS								******************************************************



.contactUs
	width: 100%
	min-height: 142px

	&__container
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap

	&__title, &__subtitle
		max-width: 500px
		min-width: 320px

	&__title > h3
		font-size: 1.7rem
		font-weight: 700
		line-height: 2.2rem
		letter-spacing: 0.1px
		text-align: left
		color: variables.$main-txt

	&__subtitle
		margin-top: 10px
		font-size: 1rem
		font-weight: 500
		line-height: 1.4rem
		letter-spacing: 0.2
		text-align: left
		color: variables.$side-txt

	&__button
		width: 160px
		height: 58px
		
		border: 1px solid variables.$main
		border-radius: 8px

		color: variables.$bg-light
		background-color: variables.$main

		cursor: pointer

		&:hover
			color: variables.$main
			background-color: transparent

@media screen and ( max-width: 768px )
	.contactUs
		&__title > h3
			text-align: center

		&__subtitle
			text-align: center
			margin: 10px auto 0

		&__container
			flex-direction: column
			justify-content: center
			padding-bottom: 40px
			gap: 40px



// ******************************************************			footer  								******************************************************


	
.footer
	width: 100%
	min-height: 272px

	background-color: variables.$side-2			
	color: variables.$light-txt
	text-align: left

	&__container
		display: flex
		align-items: center
		justify-content: space-between
		flex-wrap: wrap
		gap: 10px
		
	&__item
		min-height: 170px
		margin-top: 50px

	&__section-title
		font-size: 1.14rem
		font-weight: 700
		line-height: 1.7rem
		letter-spacing: 0.1px

	&__section-list
		margin-top: 20px
		flex-direction: column
		align-items: start

.list
	&__li
		display: flex
		align-items: center
		justify-content: flex-start

		margin-top: 10px
		font-size: 1rem
		font-weight: 600
		line-height: 1.7rem
		letter-spacing: 0.2px

		&:first-child
			margin-top: 0

	&__icon
		max-width: 24px
		max-height: 24px

		margin-right: 10px

@media screen and ( max-width: 768px )
	.footer
		&__container
			max-width: calc(90%)
			padding-left: calc(14%)
			padding-right: calc(14%)
			justify-content: space-between
			column-gap: 20px
			
		&__item
			min-width: 180px

@media screen and ( max-width: 624px )
	.footer
		&__container
			padding-left: calc(7%)
			padding-right: calc(7%)

@media screen and ( max-width: 500px )
	.footer
		&__container
			flex-direction: column
			align-items: flex-start
			justify-content: center
			padding-left: 0
			padding-right: 0

		&__item
			margin-left: calc(27%)

@media screen and ( max-width: 400px)
	.footer
		&__item
			margin-left: calc(20%)